/** Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* .main-container {
   display: flex;
}

.homepage-container {
   outline: solid black 5px;
   justify-content: center;
   align-items: center;
} */

h1 {
    font-size: clamp(2rem, 8vw, 6rem);
   font-family: "Lato", sans-serif;
   font-weight: 400;
}

/* .image-homepage img {
   outline: solid green 3px;
   width: 300px;
   height: 300px;
   border-radius: 50%;
} */

/** Media Queries **/

/* ==========================================
   Mobile First (320px - 480px)
   Default styles
========================================== */

/* Your default mobile styles go here */


/* ==========================================
   Tablets (481px - 768px)
========================================== */
@media screen and (min-width: 481px) {

}


/* ==========================================
   Small Laptops (769px - 1024px)
========================================== */
@media screen and (min-width: 769px) {
    body {
        background-color: red;
    }

}


/* ==========================================
   Desktops (1025px - 1200px)
========================================== */
@media screen and (min-width: 1025px) {

}


/* ==========================================
   Extra Large Screens (1201px+)
========================================== */
@media screen and (min-width: 1201px) {

}