/** Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* .main-container {
   display: flex;
}

.homepage-container {
   outline: solid black 5px;
   justify-content: center;
   align-items: center;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: clamp(2rem, 8vw, 6rem);
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

.special-font {
   font-family: "Allura", cursive;
   font-weight: 400;
   font-style: normal;
}

p {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

.buttons-homepage {
   list-style: none;
   padding: 0;
   margin: 0;
   display: flex;
   gap: 10px;
}

.buttons-homepage li a {
   display: inline-block;
   text-decoration: none;
   background-color: #007bff;
   color: white;
   padding: 10px 20px;
   border-radius: 50%;
   /* font-family: sans-serif; */
   transition: background 0.2s;
}

.buttons-homepage li a:hover {
   background-color: #0056b3;
}


/** Media Queries **/

/* ==========================================
   Mobile First (320px - 480px)
   Default styles
========================================== */

/* Your default mobile styles go here */


/* ==========================================
   Tablets (481px - 768px)
========================================== */
@media screen and (min-width: 481px) {

}


/* ==========================================
   Small Laptops (769px - 1024px)
========================================== */
@media screen and (min-width: 769px) {
    body {
        background-color: red;
    }

}


/* ==========================================
   Desktops (1025px - 1200px)
========================================== */
@media screen and (min-width: 1025px) {

}


/* ==========================================
   Extra Large Screens (1201px+)
========================================== */
@media screen and (min-width: 1201px) {

}